body{
    background: url(img/Background.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
}
#open-btn{
    position: absolute;
    top: 200px;
    left: 40px;
    height: 100px;
    width: 300px;
    text-align: center;
    font-size: 2rem;
}